body {
    margin: 0;
}

header {
    background-color: antiquewhite;
    height: 100px;
}

footer {
    background-color: blueviolet;
    height: 100px;
}

.parallax-slider {
    /*todo: find old browsers solution*/
    height:-moz-calc(100vh - 100px);
    height:-webkit-calc(100vh - 100px);
    background-color: aquamarine;
    overflow: hidden;
    position: relative;
}

.slide {
    height:-moz-calc(100vh - 100px);
    height:-webkit-calc(100vh - 100px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    /*padding: 10px;*/
    -webkit-perspective: 3000px;
    perspective: 3000px;
    overflow: hidden;
}

/*===========================*/
.parallax-content {
    flex: none;
    width: 110%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(50px) translateZ(0);
    transform: translateZ(50px) translateZ(0);
    -webkit-transition: visibility 0.2s ease, opacity 0.2s ease;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* fixes a Firefox bug - images not correctly rendered*/
    background-color: rgba(255, 255, 255, 0.01);
}

.slide img {
    max-width: 100%;
    display: flex;
}

.parallax-background {
    position: relative;
    top: 0;
    left: 0;
}
.parallax-background-main {
    position: absolute;
}
.no-preserve-3d .parallax-background-mail {
    display: none;
}
.parallax-background-light {
    position: absolute;
}
.no-preserve-3d .parallax-background-light {
    display: none;
}
.parallax-background-mask {
    position: relative;
}
.no-preserve-3d .parallax-background-mask {
    position: relative;
}
/*================================*/


@media (orientation : portrait) {
    .parallax-slider {
        /*todo: find olb browsers solution*/
        height:56vw;
    }

    .slide {
        /*todo: find olb browsers solution*/
        height:56vw;
    }

}